{% extends 'admin/layout.html' %}
{%  load static %}
{% block header %}
    <link rel="stylesheet" type="text/css" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" />
    <link rel="stylesheet" type="text/css" href="https://cdn.datatables.net/1.10.16/css/dataTables.bootstrap.min.css" />
    <link rel="stylesheet" type="text/css" href="https://cdn.datatables.net/responsive/2.2.1/css/responsive.bootstrap.min.css" />
    <link rel="stylesheet" href="{% static 'admin/fancybox/jquery.fancybox.css'%}" type="text/css" media="screen" />
    <link rel="stylesheet" href="{% static 'admin/custom.css'%}" type="text/css" media="screen" />
{% endblock %}
{% block content %}

<section class="content-header">
{#   <a href="{% url 'number_add' %}" class="fancybox fancybox.iframe btn btn-info  btn-xs">Add Number</a>#}
</section>

<section class="content">
      <div class="box box-default">
        <div class="box-header with-border">
          <h3 class="box-title">Users Apply for New Service</h3>

          <div class="box-tools pull-right">
            <button type="button" class="btn btn-box-tool" data-widget="collapse"><i class="fa fa-minus"></i></button>
            <button type="button" class="btn btn-box-tool" data-widget="remove"><i class="fa fa-remove"></i></button>
          </div>
        </div>
        <!-- /.box-header -->
        <div class="box-body">
          <div class="row">
            <div class="col-md-2">
            </div>
            <!-- /.col -->
            <div class="col-md-6">

            </div>
            <!-- /.col -->
            <div class="col-xs-12">
              <table id="myTable" class="table table-bordered table-striped" >
                        <thead>
                        <tr>
                          <th>Name</th>
                          <th>Email</th>
                          <th>Company Name</th>
                          <th>Company Phone</th>
                          <th>Company Cell Number</th>
                        </tr>
                        </thead>
                        <tbody>
                          {% for new_apply_users in new_apply_service %}
                          <tr>
                              <td><a href="{% url 'apply_user_profile' new_apply_users.id %}">{{new_apply_users.first_name}} {{new_apply_users.last_name}}</a></td>
                            <td>{{new_apply_users.email_address}}</td>
                            <td>{{new_apply_users.company_name}}</td>
                            <td>{{new_apply_users.phone}}</td>
                            <td>{{new_apply_users.cell_number}}</td>
                          </tr>
                         {% endfor %}
                        </tbody>

                      </table>
            </div>
          </div>
          <!-- /.row -->
        </div>
      </div>
      <!-- /.box -->

    </section>


{% endblock %}
{% block scripts %}
<script src="{% static 'admin/plugins/jQuery/jQuery-2.2.0.min.js'%}"></script>
<script src="https://cdn.datatables.net/1.10.16/js/jquery.dataTables.min.js"></script>
<script src="https://cdn.datatables.net/1.10.16/js/dataTables.bootstrap.min.js"></script>
<script src="https://cdn.datatables.net/responsive/2.2.1/js/dataTables.responsive.min.js"></script>
<script src="https://cdn.datatables.net/responsive/2.2.1/js/responsive.bootstrap.min.js"></script>
<script type="text/javascript" src="{% static 'admin/fancybox/jquery.fancybox.pack.js'%}"></script>
<script src="https://code.jquery.com/ui/1.11.4/jquery-ui.min.js"></script>
<script>
    $(document).ready( function () {
        $('#myTable').DataTable();
    });
</script>
<script type="text/javascript">
    $(document).ready(function() {
        $(".fancybox").fancybox({
            "width":"50%",
            "height":"100%",
            'autoSize' : false,
            afterClose: function () {
                location.reload();
            }

        });
    });

    function add_user(){
      var account  = document.getElementById('account').value;
      if(account == 'add_user_account'){
        $('#customer_add').click();
      }else{

      }
    }

</script>
{% endblock %}
