{% extends 'admin/fancybox.html' %}
{% load static %}
{% block content %}
    <div class="col-md-12">
          <!-- Horizontal Form -->
          <div class="box box-info">
            <div class="box-header with-border">
              <h3 class="box-title">Section Add for Frontend</h3>
            </div>
               {% if messages %}
                <div class="alert alert-success alert-dismissible">
                    {% for message in messages %}
                    <div {% if message.tags %} class="{{ message.tags }}" {% endif %} >{{ message }}</div>
                    {% endfor %}
                </div>
                {% endif %}
                     <form method="post" id="" class="form-horizontal" action="{% url 'add_others_details' %}" enctype="multipart/form-data">

                      {% csrf_token %}
                      <div class="box-body">

                      <p class="margin">Section Title</p>
                      <div class="input-group">
                        <input type="text" name="key" class="form-control" value="" required style="width: 588px!important;">
                      </div>

                      <p class="margin">Section Content</p>
                      <div class="input-group">
                          <textarea id="summernote" name="editordata"></textarea>
                      </div>

                      </div>
                       <div class="box-footer">
                           <button type="submit" class="btn btn-primary" name="Submit"><i class="fa fa-pencil" aria-hidden="true"></i> Add</button>
                       </div>
                </form>

          </div>
          <!-- /.box -->
    </div>
{% endblock %}
{% block scripts %}
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta/css/bootstrap.min.css">
<script src="https://code.jquery.com/jquery-3.2.1.slim.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.11.0/umd/popper.min.js"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta/js/bootstrap.min.js"></script>
<link href="https://cdnjs.cloudflare.com/ajax/libs/summernote/0.8.11/summernote-bs4.css" rel="stylesheet">
<script src="https://cdnjs.cloudflare.com/ajax/libs/summernote/0.8.11/summernote-bs4.js"></script>
<script>
  $('#summernote').summernote({
       placeholder: 'Enter Content',
       tabsize: 2,
       height: 100,
  });
</script>
{% endblock %}


