{% extends 'admin/fancybox.html' %}
{% load static %}
{% block content %}
    <div class="col-md-12">
          <!-- Horizontal Form -->
          <div class="box box-info">
            <div class="box-header with-border">
              <h3 class="box-title">Service Update</h3>
            </div>
               {% if messages %}
                <div class="alert alert-success alert-dismissible">
                    {% for message in messages %}
                    <div {% if message.tags %} class="{{ message.tags }}" {% endif %} >{{ message }}</div>
                    {% endfor %}
                </div>
                {% endif %}
                     <form method="post" id="" class="form-horizontal" action="{% url 'slider_edit' slider.0.id %}" enctype="multipart/form-data">

                    {% csrf_token %}
                      <div class="box-body">

                     <p class="margin">Slider Title</p>
                      <div class="input-group">
                        <input type="text" name="slider_name" class="form-control" value="{{ slider.0.slider_name }}" required style="width: 588px!important;">
                      </div>

                      <p class="margin">Slider Image</p>
                      <div class="input-group">
                        <input type="file" name="image" class="form-control"  style="width: 588px!important;">
                      </div>

                      <p class="margin">Slider Url</p>
                      <div class="input-group">
                        <input type="text" name="url" class="form-control" value="{{ slider.0.url }}"  style="width: 588px!important;">
                      </div>

                      <p class="margin">Slider Details</p>
                      <div class="input-group">
                         <textarea class="form-control" id="summernote" name="details" rows="10" cols="5">{{ slider.0.details }}</textarea>
                      </div>

                      <p class="margin">Slider Status</p>
                      <div class="input-group">
                         <select class="form-control" name="status" style="width: 588px!important;">
                             <option value="active" {%  if slider.0.status == 'active' %}selected{% endif %}>Active</option>
                             <option value="inactive"{%  if slider.0.status == 'inactive' %}selected{% endif %}>Inactive</option>
                         </select>
                      </div>

                      </div>
                       <div class="box-footer">
                           <button type="submit" class="btn btn-primary" name="Submit"><i class="fa fa-pencil" aria-hidden="true"></i> Add</button>
                       </div>
                </form>

          </div>
          <!-- /.box -->
    </div>
{% endblock %}
{% block scripts %}
  <link href="http://netdna.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap.css" rel="stylesheet">
  <script src="http://cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.js"></script>
  <script src="http://netdna.bootstrapcdn.com/bootstrap/3.3.5/js/bootstrap.js"></script>
  <link href="http://cdnjs.cloudflare.com/ajax/libs/summernote/0.8.11/summernote.css" rel="stylesheet">
  <script src="http://cdnjs.cloudflare.com/ajax/libs/summernote/0.8.11/summernote.js"></script>
  <script>
       $(document).ready(function() {
          $('#summernote').summernote();
          $('.dropdown-toggle').dropdown();
       });

  </script>

{% endblock %}



