{% extends 'admin/fancybox.html' %}
{% load static %}
{% block content %}
<style>
    .input_fields_wrap{
    max-width: 350px;
    }
    .input_fields_wrap input[type=text]{
     width:100%;
     margin:2px 0;
    }
</style>
    <div class="col-md-12">
          <!-- Horizontal Form -->
          <div class="box box-info">
            <div class="box-header with-border">
              <h3 class="box-title">Add Credit Card Details</h3>
            </div>
               {% if messages %}
                <div class="alert alert-success alert-dismissible">
                    {% for message in messages %}
                    <div {% if message.tags %} class="{{ message.tags }}" {% endif %} >{{ message }}</div>
                    {% endfor %}
                </div>
                {% endif %}
                     <form method="post" class="form-horizontal" action="{% url 'customer_credit_card_add' customer_obj.id %}" enctype="multipart/form-data">

                    {% csrf_token %}
                      <div class="box-body">

                      <p class="margin">Customer</p>
                      <div class="input-group">
                         <input type="text" class="form-control" disabled value="{{ customer_obj.first_name }} {{ customer_obj.last_name }}" style="width: 588px!important;" required>
                      </div>

                      <p class="margin">Type</p>
                      <div class="input-group">
                         <select class="form-control" name="card_type" style="width: 588px!important;" required>
                             <option value="">Select Card Type</option>
                             <option value="VISA">VISA</option>
                             <option value="MASTERCARD">MASTERCARD</option>
                             <option value="AMERICAN EXPRESS">AMERICAN EXPRESS</option>
                         </select>
                      </div>


                      <p class="margin">Name</p>
                      <div class="input-group">
                         <input type="text" class="form-control" name="card_name" required style="width: 588px!important;">
                      </div>

                      <p class="margin">Number</p>
                      <div class="input-group">
                         <input type="number" class="form-control" name="card_number" required style="width: 588px!important;">
                      </div>

                      <p class="margin">Month</p>
                      <div class="input-group">
                          <select class="form-control" name="month" required style="width: 588px!important;" >
                                <option value="1">1</option>
                                <option value="2">2</option>
                                <option value="3">3</option>
                                <option value="4">4</option>
                                <option value="5">5</option>
                                <option value="6">6</option>
                                <option value="7">7</option>
                                <option value="8">8</option>
                                <option value="9">9</option>
                                <option value="10">10</option>
                                <option value="11">11</option>
                                <option value="12">12</option>
                         </select>
<!--                         <input type="text" class="form-control" name="payment_type" style="width: 588px!important;">-->
                      </div>

                      <p class="margin">Year</p>
                      <div class="input-group">
<!--                          <div class="input-group">-->
                          <select class="form-control" name="year" required style="width: 588px!important;" >
                              {% for i in year_range %}
                             <option value="{{ i }}">{{ i }}</option>
                              {% endfor %}
                         </select>

<!--                         <input type="text" class="form-control" name="payment_method" style="width: 588px!important;">-->
                      </div>

                          <p class="margin">Cvv</p>
                      <div class="input-group">
                         <input type="password" class="form-control" name="cvv" required style="width: 588px!important;">
                      </div>

<!--                          <p class="margin">Primary</p>-->
                      <div class="input-group">
                         <input type="checkbox" name="primary" id="primary"><label for="primary">Primary</label>
                      </div>

                      </div>
                       <div class="box-footer">
                           <button type="submit" class="btn btn-primary" name="Submit"><i class="fa fa-pencil" aria-hidden="true"></i> Add</button>
                       </div>
                </form>

          </div>
          <!-- /.box -->
    </div>
{% endblock %}



