{% extends 'admin/fancybox.html' %}
{% load static %}
{% block content %}
<style>
    .input_fields_wrap{
    max-width: 350px;
    }
    .input_fields_wrap input[type=text]{
     width:100%;
     margin:2px 0;
    }
</style>
    <div class="col-md-12">
          <!-- Horizontal Form -->
          <div class="box box-info">
            <div class="box-header with-border">
              <h3 class="box-title">Edit Credit Card Details</h3>
            </div>
               {% if messages %}
                <div class="alert alert-success alert-dismissible">
                    {% for message in messages %}
                    <div {% if message.tags %} class="{{ message.tags }}" {% endif %} >{{ message }}</div>
                    {% endfor %}
                </div>
                {% endif %}
                     <form method="post" class="form-horizontal" action="{% url 'customer_credit_card_edit' creditcard_obj.id %}" enctype="multipart/form-data">

                    {% csrf_token %}
                      <div class="box-body">

                      <p class="margin">Customer</p>
                      <div class="input-group">
                         <input type="text" class="form-control" disabled value="{{ creditcard_obj.user.first_name }} {{ creditcard_obj.user.last_name }}" style="width: 588px!important;">
                      </div>

                      <p class="margin">Type</p>
                      <div class="input-group">
                         <select class="form-control" name="card_type" style="width: 588px!important;" required>
                             <option value="">Select Card Type</option>
                             <option value="VISA" {% if creditcard_obj.card_type == 'VISA' %} selected {% endif %}>VISA</option>
                             <option value="MASTERCARD" {% if creditcard_obj.card_type == 'MASTERCARD' %} selected {% endif %}>MASTERCARD</option>
                             <option value="AMERICAN EXPRESS" {% if creditcard_obj.card_type == 'AMERICAN EXPRESS' %} selected {% endif %}>AMERICAN EXPRESS</option>
                         </select>
                      </div>


                      <p class="margin">Name</p>
                      <div class="input-group">
                         <input type="text" class="form-control" name="card_name" value="{{ creditcard_obj.name }}" required style="width: 588px!important;">
                      </div>

                      <p class="margin">Number</p>
                      <div class="input-group">
                         <input type="number" class="form-control" name="card_number" value="{{ creditcard_obj.number }}" required style="width: 588px!important;">
                      </div>

                      <p class="margin">Month</p>
                      <div class="input-group">
                          <select class="form-control" name="month" required style="width: 588px!important;" >
                                <option value="1" {% if creditcard_obj.month == 1 %} selected {% endif %}>1</option>
                                <option value="2" {% if creditcard_obj.month == 2 %} selected {% endif %}>2</option>
                                <option value="3" {% if creditcard_obj.month == 3 %} selected {% endif %}>3</option>
                                <option value="4" {% if creditcard_obj.month == 4 %} selected {% endif %}>4</option>
                                <option value="5" {% if creditcard_obj.month == 5 %} selected {% endif %}>5</option>
                                <option value="6" {% if creditcard_obj.month == 6 %} selected {% endif %}>6</option>
                                <option value="7" {% if creditcard_obj.month == 7 %} selected {% endif %}>7</option>
                                <option value="8" {% if creditcard_obj.month == 8 %} selected {% endif %}>8</option>
                                <option value="9" {% if creditcard_obj.month == 9 %} selected {% endif %}>9</option>
                                <option value="10" {% if creditcard_obj.month == 10 %} selected {% endif %}>10</option>
                                <option value="11" {% if creditcard_obj.month == 11 %} selected {% endif %}>11</option>
                                <option value="12" {% if creditcard_obj.month == 12 %} selected {% endif %}>12</option>
                         </select>
<!--                         <input type="text" class="form-control" name="payment_type" style="width: 588px!important;">-->
                      </div>

                      <p class="margin">Year</p>
                      <div class="input-group">
<!--                          <div class="input-group">-->
                          <select class="form-control" name="year" required style="width: 588px!important;" >
                              {% for i in year_range %}
                              {% if i == creditcard_obj.year %}
                              <option value="{{ i }}" selected>{{ i }}</option>
                              {% else %}
                             <option value="{{ i }}">{{ i }}</option>
                              {% endif %}
                              {% endfor %}
                         </select>

<!--                         <input type="text" class="form-control" name="payment_method" style="width: 588px!important;">-->
                      </div>

                          <p class="margin">Cvv</p>
                      <div class="input-group">
                         <input type="password" class="form-control" name="cvv" value="{{ creditcard_obj.cvv }}" required style="width: 588px!important;">
                      </div>

                      <div class="input-group">
                          {% if creditcard_obj.primary %}
                         <input type="checkbox" name="primary" id="primary" checked><label for="primary">Primary</label>
                          {% else %}
                          <input type="checkbox" name="primary" id="primary"><label for="primary">Primary</label>
                          {% endif %}
                      </div>

                      </div>
                       <div class="box-footer">
                           <button type="submit" class="btn btn-primary" name="Submit"><i class="fa fa-pencil" aria-hidden="true"></i> Update</button>
                       </div>
                </form>

          </div>
          <!-- /.box -->
    </div>
{% endblock %}



