<div class="modal-dialog">

    <!-- Modal content-->
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal">&times;</button>
        <h4 class="modal-title">A email send to your email id for new password</h4>
           <p id ="msg" style="color: green"></p>
      </div>
      <div class="modal-body">
        <p><input type="password" class="form-control" id="new_password" placeholder="Enter Your New Password"></p>
        <p><input type="password" class="form-control" id="confirm_password" placeholder="Enter Your Confirm Password"></p>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-default" onclick="savepassword()">Send</button>
      </div>
    </div>

  </div>
