{% extends 'admin/fancybox.html' %}
{% load static %}
{% block content %}
    <div class="col-md-12">
          <!-- Horizontal Form -->
          <div class="box box-info">
            <div class="box-header with-border">
              <h3 class="box-title">Change Password</h3>
            </div>
               {% if messages %}
                <div class="alert alert-success alert-dismissible">
                    {% for message in messages %}
                    <div {% if message.tags %} class="{{ message.tags }}" {% endif %} >{{ message }}</div>
                    {% endfor %}
                </div>
                {% endif %}
                     <form method="post" id="" class="form-horizontal" action="{% url 'change_password' pk %}" enctype="multipart/form-data">

                    {% csrf_token %}
                      <div class="box-body">

                          <p class="margin">Password</p>
                          <div class="input-group">
                             <input type="text" name="new_password" id='p' class="form-control" style="width: 208px!important;">
                             <span class="input-group-btn" style="padding-right: 926px !important;">
                                    <input type='button' class="btn btn-info btn-flat" required value ='generate' onclick='document.getElementById("p").value = Password.generate(16)'>
                             </span>
                          </div>


                          <p class="margin">Confirm Password</p>
                          <div class="input-group">
                             <input type="text" name="new_cnf_password" class="form-control" style="width: 208px!important;">
<!--                              <span class="input-group-btn" style="padding-right: 926px !important;">-->
<!--                                    <input type='button' class="btn btn-info btn-flat" value="Send Email" onclick='send_email()'>-->
<!--                             </span>-->
                          </div>

                      </div>

                      <div class="box-footer">
                          <div class="row">
                              <div class="col-md-4">
                                    <button type="submit" class="btn btn-primary" name="Submit"><i class="fa fa-pencil" aria-hidden="true"></i> Save</button>
                                  </div>
                              <div class="col-md-4">
                                    <button type="button" class="btn btn-primary" name="Send Email" onclick="send_email({{pk}});"><i class="fa fa-pencil" aria-hidden="true"></i> Send Email</button>
                              </div>
                              <div class="col-md-4">
                                    <button type="button" class="btn btn-primary" name="Send SMS" onclick="send_sms({{pk}});"><i class="fa fa-pencil" aria-hidden="true"></i> Send SMS </button>
                              </div>
                          </div>
                      </div>
                </form>

          </div>
          <!-- /.box -->
    </div>
{% endblock %}
{% block scripts %}
<script>
  var Password = {

      _pattern : /[a-zA-Z0-9_\-\+\.]/,


      _getRandomByte : function()
      {
        // http://caniuse.com/#feat=getrandomvalues
        if(window.crypto && window.crypto.getRandomValues)
        {
          var result = new Uint8Array(1);
          window.crypto.getRandomValues(result);
          return result[0];
        }
        else if(window.msCrypto && window.msCrypto.getRandomValues)
        {
          var result = new Uint8Array(1);
          window.msCrypto.getRandomValues(result);
          return result[0];
        }
        else
        {
          return Math.floor(Math.random() * 256);
        }
      },

      generate : function(length)
      {
        return Array.apply(null, {'length': length})
          .map(function()
          {
            var result;
            while(true)
            {
              result = String.fromCharCode(this._getRandomByte());
              if(this._pattern.test(result))
              {
                return result;
              }
            }
          }, this)
          .join('');
      }
};
</script>
<script>
    function send_email(id){
        console.log(id);
        $.ajax({
            type: "post",
            url: "{% url 'send_password_mail' pk %}",
            data: {csrfmiddlewaretoken:"{{csrf_token}}",
                new_password:$('#p').val(),
            },
            success:function (success){
                console.log(success.data);

            }
        })
    }
    function send_sms(id){
        console.log(id);
        $.ajax({
            type: "post",
            url: "{% url 'send_password_sms' pk %}",
            data: {csrfmiddlewaretoken:"{{csrf_token}}",
                new_password:$('#p').val(),
            },

            success:function (success){
                console.log(success.data);

            }
        })
    }

</script>
{% endblock %}


