{% extends 'admin/fancybox.html' %}
{% load static %}
{% block content %}
<style>
    .input_fields_wrap{
    max-width: 350px;
    }
    .input_fields_wrap input[type=text]{
     width:100%;
     margin:2px 0;
    }
</style>
    <div class="col-md-12">
          <!-- Horizontal Form -->
          <div class="box box-info">
            <div class="box-header with-border">
              <h3 class="box-title">Area Details Add</h3>
            </div>
               {% if messages %}
                <div class="alert alert-success alert-dismissible">
                    {% for message in messages %}
                    <div {% if message.tags %} class="{{ message.tags }}" {% endif %} >{{ message }}</div>
                    {% endfor %}
                </div>
                {% endif %}
                     <form method="post" class="form-horizontal" action="{% url 'areacode_with_rate_add' %}" enctype="multipart/form-data">

                    {% csrf_token %}
                      <div class="box-body">

                      <p class="margin">Country</p>
                      <div class="input-group">
                        <select name="country" class="form-control" id="country" required style="width: 588px!important;" onchange="get_province()">
                         <option>Select Country</option>
                         {% for country in country_list %}
                         <option value="{{ country.id }}">{{ country.country_name }}</option>
                         {% endfor %}
                        </select>
                      </div>

                      <p class="margin">Province</p>
                      <div class="input-group" id="select_province">
                         <select name="province" class="form-control" id="province" required style="width: 588px!important;">
                           <option value=""></option>
                         </select>
                      </div>


                      <p class="margin">Area Code</p>
                      <div class="input-group">
                         <input type="number" class="form-control" name="area_code">
                      </div>

                      <p class="margin">Rate</p>
                      <div class="input-group">
                         <input type="number" class="form-control" min="0" step="0.01" name="rate">
                      </div>


                      <p class="margin">Status</p>
                      <div class="input-group">
                         <select name="status" class="form-control" id="country" required style="width: 588px!important;" >
                         <option>Select status</option>
                         <option value="True">Active</option>
                         <option value="False">Inactive</option>
                        </select>
                      </div>






                      </div>
                       <div class="box-footer">
                           <button type="submit" class="btn btn-primary" name="Submit"><i class="fa fa-pencil" aria-hidden="true"></i> Add</button>
                       </div>
                </form>

          </div>
          <!-- /.box -->
    </div>
{% endblock %}
{% block scripts %}
<script>
function get_province(){
     var country = document.getElementById('country').value;
      $.ajax({
            type: "post",
            url: "{% url 'get_province_via' %}",
            data: {csrfmiddlewaretoken:"{{csrf_token}}",
                country:country,
            },
            success:function (success){
                console.log(success.data);
                 $('#select_province').empty().append(success.data);
            }
        })
 }

 function get_ratecenters(){
     var province = document.getElementById('province').value;
      $.ajax({
            type: "post",
            url: "{% url 'get_ratecenters' %}",
            data: {csrfmiddlewaretoken:"{{csrf_token}}",
                province:province,
            },
            success:function (success){
                console.log(success.data);
                 $('#select_ratecenter').empty().append(success.data);
            }
        })
 }

  function get_number(){
     var ratecenter = document.getElementById('ratecenter').value;
      $.ajax({
            type: "post",
            url: "{% url 'get_number' %}",
            data: {csrfmiddlewaretoken:"{{csrf_token}}",
                ratecenter:ratecenter,
            },
            success:function (success){
                console.log(success.data);
                 $('#select_number').empty().append(success.data);
            }
        })
 }

function appendbutton(){
        $("#inputHolder").append('<input name="name" type="text" placeholder="Name"><br>');
}

 </script>
{% endblock %}


