{% extends 'agent/fulllayouttwo.html' %}
{% load static %}
{% load admin_functions %}
{% block header %}
    <link rel="stylesheet" type="text/css" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" />
    <link rel="stylesheet" type="text/css" href="https://cdn.datatables.net/1.10.16/css/dataTables.bootstrap.min.css" />
    <link rel="stylesheet" type="text/css" href="https://cdn.datatables.net/responsive/2.2.1/css/responsive.bootstrap.min.css" />
    <link rel="stylesheet" href="{% static 'admin/fancybox/jquery.fancybox.css' %}" type="text/css" media="screen" />
    <link rel="stylesheet" href="{% static 'admin/custom.css' %}" type="text/css" media="screen" />
{% endblock %}
{% block content %}

    <section class="content-header">
    {%  if perms.adminsideserviceprovider.change_serviceplanwithhardware %}
       <a href="{% url 'agent_add_hw_in_service_provider' id %}" class="fancybox fancybox.iframe btn btn-info  btn-xs">Add Hardware Product</a>
    {% endif %}
    </section>

<section class="content">

   <div class="row">
        <div class="col-xs-12">
            <div class="box">
            <div class="box-header">
              <h3 class="box-title">Harware list according to service plan </h3>
            </div>
            <!-- /.box-header -->
            <div class="box-body" style="min-height:400px">
                <table id="myTablelogin" class="table table-bordered table-striped" style="width:100%;!important;" >
                    <thead>
                        <tr>
                          <th>Hardware Title </th>
                          <th>Hardware Status </th>
                          <th>Hardware Quantity </th>
                          <th>Action</th>
                        </tr>
                    </thead>
                    <tbody>
                    {% for service in data  %}
                        <tr>
                          <td>{{service.hw_id__hw_title}}</td>
                          <td>{{service.hw_status}}</td>
                          <td>{{service.hw_qty}}</td>
                          <td>
                              {%  if perms.adminsideserviceprovider.change_serviceplanwithhardware %}
                              <a href="{% url 'agent_edit_hw_in_service_provider' service.id %}" class="fancybox fancybox.iframe btn btn-info btn-xs"><i class="fa fa-edit"></i> Edit </a>
                              {% endif %}
{#                              <a href="{% url 'plan_add_to_service_provider' service.id %}" class="fancybox fancybox.iframe btn btn-success"><i class="fa fa-plus"></i> Add Plan </a>#}
                               {%  if perms.adminsideserviceprovider.delete_serviceplanwithhardware %}
                                 <a href="{% url 'agent_delete_hw_in_service_provider' service.id %}" class="btn btn-danger btn-xs"><i class="fa fa-trash"></i> Delete </a>
                              {% endif %}

                          </td>
                        </tr>
                    {% endfor %}
                    </tbody>
                </table>
            </div>
            </div>
        </div>
   </div>
</section>


{% endblock %}
{% block scripts %}
<script src="{% static 'admin/plugins/jQuery/jQuery-2.2.0.min.js' %}"></script>
<script src="https://cdn.datatables.net/1.10.16/js/jquery.dataTables.min.js"></script>
<script src="https://cdn.datatables.net/1.10.16/js/dataTables.bootstrap.min.js"></script>
<script src="https://cdn.datatables.net/responsive/2.2.1/js/dataTables.responsive.min.js"></script>
<script src="https://cdn.datatables.net/responsive/2.2.1/js/responsive.bootstrap.min.js"></script>
<script type="text/javascript" src="{% static 'admin/fancybox/jquery.fancybox.pack.js' %}"></script>

<script>
    $(document).ready(function () {

        $('#myTablelogin').DataTable();

    })
</script>
<script type="text/javascript">
    $(document).ready(function() {
        $(".fancybox").fancybox({
            afterClose: function () {
                location.reload();
            },
            autoSize : false,
            width    : "50%",
        });
    });

</script>
{% endblock %}
