{% load static %}
{% load special_offer_category_service %}
{% for ss in sp %}
 <div class="centered" >
      <div  class="croll-bar-wrap">
          <div class="box-part scroll-box ">
            <div class="box-heading">
                <div class="imag-part">
                    <img src="{%  static 'customer/images/iocns-8.png' %}">
                </div>
                    <h2>{{ ss.special_offers_combo_name }}</h2>
                    {% get_type_name ss.special_offers_combo_name as TYPE %}
                    {% for ty in TYPE %}
                    <div class="cont-part">
                        <h5>{{ ty.special_offers_type_name }}</h5>
                        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit.
                            Accusantium aperiam consectetur, et eum inventore libero magnam quae. Accusamus
                           </p>
{#                         <div class="price-new">#}
{#                             <h4>$ 25.89 / <small>Month</small></h4>#}
{#                         </div>#}
                        <div class="button">
                            <a href="{% url 'get_details_of_special_offers' ty.special_offers_type_name  ty.special_offers_combo_name ty.special_offers_parent_category_id ty.special_offers_sub_parent_category_id %}"><button>learn morne</button></a>
                        </div>
                    </div>
                    {% endfor %}
                </div>
          </div>
      </div>
 </div>
{% endfor %}

{#<div class="all-part-btn"> <a  href="#" class="all-part">SEE ALL</a></div>#}