{% extends 'admin/fancybox.html' %}
{% load static %}
{% block content %}
<style>
    .input_fields_wrap{
    max-width: 350px;
    }
    .input_fields_wrap input[type=text]{
     width:100%;
     margin:2px 0;
    }
</style>
    <div class="col-md-12">
          <!-- Horizontal Form -->
          <div class="box box-info">
            <div class="box-header with-border">
              <h3 class="box-title">Edit Category Service of Service Features </h3>
            </div>
               {% if messages %}
                <div class="alert alert-success alert-dismissible">
                    {% for message in messages %}
                    <div {% if message.tags %} class="{{ message.tags }}" {% endif %} >{{ message }}</div>
                    {% endfor %}
                </div>
                {% endif %}
                     <form method="post" class="form-horizontal" action="{% url 'service_feature_edit' menu_list.0.id %}" enctype="multipart/form-data">

                    {% csrf_token %}
                      <div class="box-body">

                      <p class="margin">Manage Service Parent Category</p>
                      <div class="input-group">
                        <select name="service_parent_category" class="form-control" id="category" required style="width: 588px!important;" onchange="get_province()">
                         <option>Select Manage Parent Service Category</option>
                         {% for category in parent_category_list %}
                         <option value="{{ category.id }}" {% if menu_list.0.service_parent_category_id == category.id %}selected{% endif %}>{{ category.service_parent_category_name }}</option>
                         {% endfor %}
                        </select>
                      </div>

                      <p class="margin">Manage Service Sub Parent Category</p>
                      <div class="input-group" id="sub_parent_category">

                        <select name="service_sub_parent_category_name" class="form-control" required style="width: 588px!important;">
                         <option>Select Manage Parent Service Category</option>
                         {% for category in sub_parent_category_list %}
                         <option value="{{ category.id }}" {% if menu_list.0.service_sub_parent_category_name_id == category.id %}selected{% endif %}>{{ category.service_sub_parent_category_name }}</option>
                         {% endfor %}
                        </select>

                      </div>

                      <p class="margin">Manage Service Category</p>
                      <div class="input-group">
                        <select name="service_category" class="form-control" id="" required style="width: 588px!important;">
                         <option>Select Manage Service Category</option>
                         {% for category in menu_category %}
                         <option value="{{ category.id }}" {% if menu_list.0.service_category_id == category.id %}selected{% endif %}>{{ category.service_category_name }}</option>
                         {% endfor %}
                        </select>
                      </div>

                      <p class="margin">Details</p>
                      <div class="input-group">
                        <textarea name="details" class="form-control" id="" required style="width: 588px!important;">{{ menu_list.0.details }}</textarea>
                      </div>

                      <p class="margin">Logo</p>
                      <div class="input-group">
                        <input type="file" name="service_feature_logo" class="form-control" style="width: 588px!important;">
                      </div>


                      </div>
                       <div class="box-footer">
                           <button type="submit" class="btn btn-primary" name="Submit"><i class="fa fa-pencil" aria-hidden="true"></i> Update</button>
                       </div>
                </form>

          </div>
          <!-- /.box -->
    </div>
{% endblock %}
{% block scripts %}
<script>
function get_province(){
     var category = document.getElementById('category').value;
      $.ajax({
            type: "post",
            url: "{% url 'get_sub_parent_list' %}",
            data: {csrfmiddlewaretoken:"{{csrf_token}}",
                category:category,
            },
            success:function (success){
                console.log(success.data);
                 $('#sub_parent_category').empty().append(success.data);
            }
        })
 }


</script>
{% endblock %}


